/* fallback */
@font-face {
  font-family: 'Playwrite NG Modern Guides';
  font-style: normal;
  font-weight: 400;
  src: url(../f/6qLVKYQNtxD-qVlIPUIPdWMlWxy3BmFEQgxB1xvFhDau.woff2) format('woff2');
}
