/* fallback */
@font-face {
  font-family: 'Playwrite DE Grund Guides';
  font-style: normal;
  font-weight: 400;
  src: url(../f/OD5RuNCQ02KrAHnha1L36CWcQ83dtK5BLxqexnduX9o.woff2) format('woff2');
}
