/* fallback */
@font-face {
  font-family: 'Playwrite US Modern';
  font-style: normal;
  font-weight: 400;
  src: url(../f/H4cMBWmRlMXPhla3hmMaveiYz8nSDkIFLNIYl2TXUwK62YohNg2G.woff2) format('woff2');
}
