/* fallback */
@font-face {
  font-family: 'Playwrite HR Lijeva';
  font-style: normal;
  font-weight: 400;
  src: url(../f/gNMvW2dhS5-p7HvxrBYiWN2SsKqLWCrYiDBAvbRl82ZY0d4zBsaR.woff2) format('woff2');
}
