/* fallback */
@font-face {
  font-family: 'Playwrite DE Grund';
  font-style: normal;
  font-weight: 400;
  src: url(../f/EJR-QhwoXdccriFurnRxqv-1MFyKy696-4VufrEGGbTZz2qHZwU.woff2) format('woff2');
}
