/* fallback */
@font-face {
  font-family: 'Playwrite HR Lijeva Guides';
  font-style: normal;
  font-weight: 400;
  src: url(../f/uU9aCAgH7I63K35cu3bRkqamzjr8EW133LJaXDO-QObk.woff2) format('woff2');
}
