/* fallback */
@font-face {
  font-family: 'Playwrite DK Loopet';
  font-style: normal;
  font-weight: 400;
  src: url(../f/memVYbuzy2qb3rtJGfM1FvY-GacDcsPvtaDfqfgbBWmV75JJwegU.woff2) format('woff2');
}
