/* fallback */
@font-face {
  font-family: 'Playwrite FR Moderne';
  font-style: normal;
  font-weight: 400;
  src: url(../f/3y9L6awucz3w5m4FFTzKolJRXhUk_u1yWtWmFCJcqUBvK5aJuAKvBw.woff2) format('woff2');
}
