@font-face {
  font-family: 'Linefont';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(../f/dg47_pzpoqcLKUIzVfFMh1TF2rkhli25jn7YJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Linefont';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(../f/dg47_pzpoqcLKUIzVfFMh1TF2rkhli25jn7YJw.woff2) format('woff2');
}
