/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 400;
  src: url(../f/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 700;
  src: url(../f/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
