/* fallback */
@font-face {
  font-family: 'Playwrite DK Uloopet';
  font-style: normal;
  font-weight: 400;
  src: url(../f/bWtS7e3Ufwn0Hf1zjprKPYlcDAoHknvYFjqIh8PF6jwcP5K06lUrLA.woff2) format('woff2');
}
