/* fallback */
@font-face {
  font-family: 'Playwrite NZ Basic';
  font-style: normal;
  font-weight: 400;
  src: url(../f/YcmesYdNS1SdgmHbGgtRtk4ljD2L-0t3tsFaQT-eokVSUi0KLog.woff2) format('woff2');
}
