@font-face {
  font-family: 'Bitcount Grid Single Ink';
  font-style: normal;
  font-weight: 400;
  src: url(../f/bitcount-grid-single-ink-preview.woff2) format('woff2');
}
body {
  --google-font-color-bitcountgridsingleink:none;
}
