@font-face {
  font-family: 'Bitcount Single Ink';
  font-style: normal;
  font-weight: 400;
  src: url(../f/bitcount-single-ink-preview.woff2) format('woff2');
}
body {
  --google-font-color-bitcountsingleink:none;
}
