@font-face {
  font-family: 'Reem Kufi Ink';
  font-style: normal;
  font-weight: 400;
  src: url(../f/reem-kufi-ink-preview.woff2) format('woff2');
}
body {
  --google-font-color-reemkufiink:colrv1;
}
