@font-face {
  font-family: 'Bitcount Grid Double Ink';
  font-style: normal;
  font-weight: 400;
  src: url(../f/bitcount-grid-double-ink-preview.woff2) format('woff2');
}
body {
  --google-font-color-bitcountgriddoubleink:none;
}
