@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  src: url(../f/noto-color-emoji-preview.woff2) format('woff2');
}
body {
  --google-font-color-notocoloremoji:colrv1;
}
