@font-face {
  font-family: 'Bitcount Prop Double Ink';
  font-style: normal;
  font-weight: 400;
  src: url(../f/bitcount-prop-double-ink-preview.woff2) format('woff2');
}
body {
  --google-font-color-bitcountpropdoubleink:none;
}
